    <div class="scheduler-header-profile-wrapper">
        <span class="text-center"><h3 mat-dialog-title>USER PROFILE</h3></span>
&nbsp;
<app-toasts aria-live="polite" aria-atomic="true" style="margin-top: 60px;"></app-toasts>
<!-- main app container -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4>LOGIN</h4>
                <form name="form" (ngSubmit)="form.valid" #form="ngForm" novalidate>
                <mat-dialog-content>
                   <input type="hidden" name="id" [(ngModel)]="formData.id" #id="ngModel">
                   <mat-form-field class="form-field-width">
                        <mat-label for="email">Email</mat-label>
                        <input matInput type="email" class="form-control" name="email" [(ngModel)]="formData.email" #email="ngModel" placeholder="Enter Email" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required email readonly />
                           <!-- <div class="input-group-append">
                                <button mat-raised-button class="btn btn-input" type="button" (click)="ChangeEmail()">Change</button>
                            </div>-->
                        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </mat-form-field>
                    <div class="dropdown">
                        <button mat-raised-button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reset Password</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/resetpassword">Go To Login-Reset Page</a>
                        </div>
                    </div>
                   </mat-dialog-content>
                    </form>
                    <hr>
                    <h4>CONTACT</h4>
                    <form name="form" (ngSubmit)="form.valid" #form="ngForm" novalidate>
                    <mat-dialog-content>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <mat-form-field class="form-field-width">
                                    <mat-label for="first_name">First Name</mat-label>
                                    <input matInput type="text" class="form-control" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required />
                                    <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                                        <div *ngIf="first_name.errors.required">First Name is required</div>
                                    </div>
                                </mat-form-field>
                            </div>
                            &nbsp;
                            <div class="form-group col-md-5">
                                <mat-form-field class="form-field-width">
                                    <mat-label for="last_name">Last Name</mat-label>
                                    <input matInput type="text" class="form-control" name="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required />
                                    <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                                        <div *ngIf="last_name.errors.required">Last Name is required</div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <mat-form-field class="form-field-width">
                                <mat-label for="contact_number">Contact Number</mat-label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">+91</div>
                                    </div>
                                    <input matInput type="text" class="form-control" name="contact_number" [(ngModel)]="formData.contact_number" #contact_number="ngModel" placeholder="Enter Contact Number">
                                </div>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-5">
                                <mat-label for="organization">Organization</mat-label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">{{organization}}</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    </mat-dialog-content>
                <hr>
                <mat-dialog-actions>
                    <div class="form-group">
                        <button mat-raised-button type="submit" color="primary" (click)="updateUserRecord(form)">Save All Changes</button>
                    </div>
                </mat-dialog-actions>
                
               </form>
            </div>
        </div>
    </div>
    </div>