<button type="button" class="ml-1 float-right" [mat-dialog-close]><i class="fa fa-times"></i></button>
<h3><i class="fa fa-envelope-o" aria-hidden="true"></i> CHANGE EMAIL</h3>
<p>Enter your new email below. We'll send it a verification message so you can complete the change.</p>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Send Verification Message</button>
    </div>
</form>
