<button type="button" class="ml-1 float-right" [mat-dialog-close]><i class="fa fa-times"></i></button>
<h3><i class="fa fa-envelope-o" aria-hidden="true"></i> CHANGE EMAIL</h3>
<p>Enter your new email below. We'll send it a verification message so you can complete the change.</p>
<form name="form" (ngSubmit)="form.valid" #form="ngForm" novalidate>
    <div class="form-group">
        <label for="email">Email *</label>
        <input type="text" class="form-control" name="email" [(ngModel)]="formData.email" #email="ngModel" placeholder="Enter Email" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required />
        <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">Email must be a valid email address</div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Send Verification Message</button>
    </div>
</form>