<!--The content below is only a placeholder and can be replaced.-->
<div>
    <div class="sidenav" >
        <!-- <a mat-button routerLinkActive="active-link" routerLink="/booking" [matTooltip]="user ? 'Schedule' : 'Bookings'" matTooltipPosition="after" ><i class="material-icons">list_alt</i> Bookings</a> -->
        <a mat-button routerLinkActive="active-link" routerLink="/booking" ><i class="material-icons">list_alt</i> 
            <span *ngIf="user">Schedule</span>
            <span *ngIf="!user">Bookings</span>
        </a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/venueuser" *ngIf="isAuthorized && isAdministrator" ><i class="material-icons">group</i> Users</a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/profile" *ngIf="isAuthorized" ><i class="material-icons">person</i> Profile</a>
        <a mat-button routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" routerLink="/login" *ngIf="!isAuthorized" ><i class="material-icons">exit_to_app</i> Login</a>
    </div>
    <nav class="navbar navbar-expand-lg fixed-top top-nav">
        <div class="site-title">{{this.title}}</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <!-- <ul class="navbar-nav align-items-center">
                <li class="nav-item" *ngIf = "user">
                    <a class="nav-link text-white" routerLink="/profile">{{user}}</a>
                </li>
                <li></li>
                <li class="nav-item">                    
                    <a mat-mini-fab routerLink="/logout" *ngIf = "isAuthorized" matTooltip="Log out"><i class="material-icons">power_settings_new</i></a>
                </li>
            </ul> -->
            <div class="dropdown ml-auto" *ngIf = "user">
                <a href="#" class="dropdown-toggle text-white d-flex align-items-center" data-toggle="dropdown">
                    <i class="material-icons mr-1">account_circle</i> {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button routerLink="/logout" *ngIf = "isAuthorized" mat-button class="w-100 text-left"><i class="material-icons">power_settings_new</i> Log Out</button>                                
                </div>
            </div>
        </div>
        
    </nav>
    <div style="width: calc(100% - 77px);margin-left:77px;padding-top: 56px;">
        <router-outlet></router-outlet>
    </div>
</div>

