<!--The content below is only a placeholder and can be replaced.-->
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <div class="sidebar-sticky">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/booking"><i class="fa fa-list-alt" aria-hidden="true"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="/venueuser"><i class="fa fa-users" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>