.container {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #405065;
}

.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
.scheduler-header-spaces-wrapper{
    position: sticky!important;
    z-index: 995;
    /* padding-top:60px; */
}
.top-margin-table{
    margin-top: 10px;
}
.search-control{    
  border: 0;
  box-shadow: 0 0 8px #dee2ea;
  border-radius: 30px;
  font-size: 14px;
  padding: 6px 40px 6px 15px;
  height: 36px;
  width: 300px;
}
.search-icon{position: absolute;right: 10px;color: #c1c1c1;}
/* .search-control:focus {border-color: #64bded;} */

