<i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;<label>USERS</label>
&nbsp;
<hr>
<!-- Search form -->
<a class="btn btn-sm btn-success text-white" (click)="AddUser()"><i class="fa fa-user-plus" aria-hidden="true"></i>  Add User</a>
&nbsp;
<input type="text" id="searchTextId" [(ngModel)]="searchText" name="searchText" placeholder="Search By Name">
&nbsp;
<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Telephone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="users.length==0" [class.text-danger]="!isValid && users.length==0">
        <td body="font-italic text-center" colspan="5">
          No users have registered yet.
        </td>
      </tr>
    <tr *ngFor="let user of users;let i=index;">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.contact_number}}</td>
      <td>
         <a class="btn btn-sm btn-warning text-white" (click)="EditUser(user)"><i class="fa fa-pencil"></i>&nbsp;Edit User</a>
         <a class="btn btn-sm btn-info text-white ml-1" (click)="ShowBookings(user.id)"><i class="fa fa-list-ol"></i>&nbsp;Show Bookings</a>
         <a class="btn btn-sm btn-danger text-white ml-1" (click)="DeleteUser(user.id)"><i class="fa fa-trash"></i>&nbsp;Remove User</a>
      </td>
    </tr>
  </tbody>
</table>