<div class="container space-3 w-md-80 top-margin">
    <div class="text-center mb-3">
        <div class="liquid-container ember-view">
            <div class="liquid-child ember-view" style="top: 0px; left: 0px; transform: translateX(0px);">
                <h2 class="text-brand-primary">Reset password</h2>
                <p>Please enter the new password</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center space-1">
    <div class="col-md-8 col-lg-6 col-10">
        <div class="row bg-white shadow-lg space-1 space-md-2 rounded">
            <div class="col">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form px-md-4">
                    <mat-dialog-content>    
                    <!--<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="login-form px-md-4">-->
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                            <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.oldPassword.errors.required">Password is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                <div *ngIf="f.password.errors.mustDiffer">Passwords must be differ from old password</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>                   
                    </mat-dialog-content>
                    <mat-dialog-actions>
                        <div class="form-group" >
                            <button mat-raised-button color="primary" ><i class="material-icons">keyboard</i> Register</button>
                        </div>
                    </mat-dialog-actions>
                </form>
            </div>
        </div>
    </div>
</div>
