<div class="container">
    <div class="row">
        <div class="col-xl-6 col-md-8 mx-auto">
            <!-- <div class="text-center mb-3 mt-5">
                <div class="liquid-container ember-view">
                    <div class="liquid-child ember-view" style="top: 0px; left: 0px; transform: translateX(0px);">
                        <h3 class="text-brand-primary">Reset password</h3>
                        <p class="mb-3">Please enter the new password</p>
                    </div>
                </div>
            </div> -->
            <mat-card class="mt-30 overflow-hidden">                
                <div class="form-header">
                    <h4 mat-dialog-title class="mb-0">Reset password</h4>
                </div> 
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form ">
                    <mat-dialog-content>    
                    <!--<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="login-form px-md-4">-->
                        <div>
                            <mat-form-field >
                                <mat-label>Old Password</mat-label>
                                <input matInput type="password" formControlName="oldPassword" required/>
                                <mat-error *ngIf="submitted && f.oldPassword.errors">
                                    <div *ngIf="f.oldPassword.errors.required">Old Password is required</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field >
                                <mat-label>Password</mat-label>
                                <input matInput type="password" formControlName="password" required/>
                                <mat-error *ngIf="submitted && f.password.errors">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    <div *ngIf="f.password.errors.mustDiffer">Passwords must be differ from old password</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field >
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type="password" formControlName="confirmPassword" required/>
                                <mat-error *ngIf="submitted && f.confirmPassword.errors">
                                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                </mat-error>
                            </mat-form-field>
                        </div>                  
                    </mat-dialog-content>
                    <button mat-raised-button color="primary" class=" mt-2" > Change Password</button>
                </form>
            </mat-card>
        </div>
    </div>
</div>
