<div class="container space-3 w-md-80 top-margin">
    <div class="text-center mb-3">
        <div class="liquid-container ember-view">
            <div class="liquid-child ember-view" style="top: 0px; left: 0px; transform: translateX(0px);">
                <h2 class="text-brand-primary">Reset password</h2>
                <p>Please enter the new password</p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center space-1">
    <div class="col-md-8 col-lg-6 col-10">
        <div class="row bg-white shadow-lg space-1 space-md-2 rounded">
            <div class="col">
                <mat-dialog-content>
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="login-form px-md-4">
                        <div class="row">
                            <mat-form-field class="form-field-width">
                                <div><mat-label>Password</mat-label><span class="required">*</span></div>
                                <input matInput type="password" formControlName="password" class="form-control ember-text-field ember-view">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="form-field-width">
                                <div><mat-label>Confirm Password</mat-label><span class="required">*</span></div>
                                <input matInput type="password" formControlName="confirm_password" class="form-control ember-text-field ember-view">
                            </mat-form-field>
                        </div>
                    </form>
                </mat-dialog-content>
                <mat-dialog-actions>
                    <div class="form-group" >
                        <button mat-raised-button color="primary" type="submit"><i class="material-icons">keyboard</i> Change Password</button>
                    </div>
                </mat-dialog-actions>
            </div>
        </div>
    </div>
</div>
