<div class="container-fluid px-lg-5-3 pt-4 pt-lg-5-3">
    <div class="row">
        <!-- Space List -->
        <div class="col-12 col-lg-4" *ngIf="spaces">
            <ul class="nav flex-column nav-pills font-weight-semi-bold" *ngFor="let space of spaces.data">
                <li class="nav-item space-item">
                    <a href="space/{{space.id}}" class="nav-link active ember-view">
                        <div class="d-flex">
                            <div class="flex-grow-1">
                                <span>{{space.space_name}}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Add Space -->
        <div class="col-12 col-lg-8 pt-5 pt-lg-0" *ngIf="flag == 'add'">
            <form (ngSubmit)="onSubmit()">
                <div class="liquid-child ember-view">
                    <div class="pb-3">
                        <h5>ADD A SPACE</h5>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group required">
                        <label class="input-label" for="space-create-name">SPACE NAME</label>
                        <input placeholder="e.g. Meeting Room" maxlength="30" id="space-create-name" class="form-control ember-text-field ember-view" type="text" name="space_name" [(ngModel)]="model.space_name">
                        <div class="ember-view"><div class="liquid-container ember-view"><!----></div></div>
                        <div class="ember-view"><!----></div>
                      </div>
                    </div>
                    <button class="btn btn-success" type="submit"><div>Add space</div></button>
                </div>
            </form>
        </div>
        <!-- Edit Space -->
        <div class="col-12 col-lg-8 pt-5 pt-lg-0" *ngIf="flag == 'edit'">
            <form (ngSubmit)="onSubmit()">
                <div class="liquid-child ember-view">
                    <div class="pb-3">
                        <h5>EDIT A SPACE</h5>
                    </div>
                    <div class="row">
                      <div class="col-12 col-md-6 form-group required">
                        <label class="input-label" for="space-create-name">SPACE NAME</label>
                        <input placeholder="e.g. Meeting Room" maxlength="30" id="space-create-name" class="form-control ember-text-field ember-view" type="text" name="space_name" [(ngModel)]="model.space_name">
                        <div class="ember-view"><div class="liquid-container ember-view"><!----></div></div>
                        <div class="ember-view"><!----></div>
                      </div>
                    </div>
                    <button class="btn btn-success" type="submit"><div>Edit space</div></button>
                    <button class="btn btn-danger space-item" type="button" (click)="deleteSpace()"><div>Delete space</div></button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>