<!-- main app container -->
<div class="container">
        <div class="container">
            <h4 mat-dialog-title>Add A User <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">highlight_off</i></h4>
        </div>
    <!--<button type="button" class="ml-1 float-right" [mat-dialog-close]><i class="fa fa-times"></i></button>
    <h3 style="text-align: center;">ADD A USER</h3>-->
    <form name="form" autocomplete="off" (ngSubmit)="form.valid && onSubmit(form)" #form="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
        <input type="hidden" name="id" [(ngModel)]="formData.id" #id="ngModel">
        <div class="row">
            <mat-form-field>
                <div><mat-label>Email</mat-label><span class="required">*</span></div>
                <input class="form-control ember-text-field ember-view" matInput name="email" type="email" [(ngModel)]="formData.email">
            </mat-form-field>
        </div>
        <!--<div class="text-danger" *ngIf="erroremail.isError">{{erroremail.errorMessage}}</div>-->
        <div class="row">
            <mat-form-field>
                <div><mat-label>First Name</mat-label><span class="required">*</span></div>
                <input matInput class="form-control ember-text-field ember-view"  name="first_name" [(ngModel)]="formData.first_name">
                <!--<mat-hint align="end">Not more then 60 characters long.</mat-hint>
                <mat-error *ngIf="hasError('first_name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('first_name', 'maxlength')">You have more than 60 characters</mat-error>-->
            </mat-form-field>
        </div>
        <!--<div class="text-danger" *ngIf="errorfname.isError">{{errorfname.errorMessage}}</div>-->
        <div class="row">
            <mat-form-field>
                <div><mat-label>Last Name</mat-label><span class="required">*</span></div>
                <input matInput class="form-control ember-text-field ember-view" name="last_name" [(ngModel)]="formData.last_name">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <div><mat-label>Contact Number</mat-label><span class="required">*</span></div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+91</div>
                    </div>
                    <input matInput class="form-control ember-text-field ember-view" name="contact_number" [(ngModel)]="formData.contact_number">
                </div>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <div><mat-label>Password</mat-label><span class="required">*</span></div>
                <input matInput class="form-control ember-text-field ember-view" name="password" [(ngModel)]="formData.password">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <div><mat-label>Confirm Password</mat-label><span class="required">*</span></div>
                <input matInput name="password_confirmation" class="form-control ember-text-field ember-view" [(ngModel)]="formData.password_confirmation">
            </mat-form-field>
        </div>
        <div class="text-danger" *ngIf="error.isError">{{error.errorMessage}}</div>
        <div class="form-group" >
            <button type="submit" class="btn btn-primary"><i class="fa fa-user-plus" aria-hidden="true"></i>Add User</button>
            <!--<div><button class="btn btn-success">Confirm Booking</button>
            <button class="btn btn-input ml-2" (click)="onCancelBooking()">Cancel Booking</button></div>-->
        </div>
    </form>
</div>
