<!-- main app container -->
<div class="container">
    <div class="container">
        <h4 mat-dialog-title>EDIT USER DETAILS <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">highlight_off</i></h4>
    </div>
    <form [formGroup]="userRegister" (ngSubmit)="onSubmit()" class="login-form px-md-4" >     
        <mat-dialog-content>
            <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email is required</div>
                    <div *ngIf="f.email.errors.email">email should be in proper format</div>               
                    <div *ngIf="f.email.errors.serverError">{{ f.email.errors.serverError }}</div>
                </div>
            </div>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" formControlName="first_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }"  />
                <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                    <div *ngIf="f.first_name.errors.required">Firstname is required</div>
                </div>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" formControlName="last_name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"  />
                <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                    <div *ngIf="f.last_name.errors.required">Lastname is required</div>
                </div>
            </div>
            <div>
                <label>Contact Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">+91</div>
                    </div>
                    <input formControlName="contact_number" maxlength="10" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact_number.errors }"  />
                    <div *ngIf="submitted && f.contact_number.errors" class="invalid-feedback">
                        <div *ngIf="f.contact_number.errors.required">Contact Number is required</div>
                        <div *ngIf="f.contact_number.errors.minlength">Contact Number must be at least 10 characters</div>
                    </div>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
        <div class="form-group" >
            <button mat-raised-button color="primary" type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i>Update user</button>
            <button class="btn btn-input ember-view" style="margin-left: 10px;" (click)="onNoClick()">Cancel</button>
            <!--<div><button class="btn btn-success">Confirm Booking</button>
            <button class="btn btn-input ml-2" (click)="onCancelBooking()">Cancel Booking</button></div>-->
        </div>
        </mat-dialog-actions>
    </form>
</div>