<!-- main app container -->
<div class="container">
    <div class="container">
        <h4 mat-dialog-title>EDIT USER DETAILS <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">highlight_off</i></h4>
    </div>
    <form name="form" (ngSubmit)="form.valid" #form="ngForm" novalidate>
        <input type="hidden" name="id" [(ngModel)]="formData.id" #id="ngModel">
        <div class="row">
            <mat-form-field>
                <div><mat-label>Email</mat-label><span class="required">*</span></div>
                <input class="form-control ember-text-field ember-view" matInput name="email" #email="ngModel" type="email" [(ngModel)]="formData.email">
            </mat-form-field>
            <!--<label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="formData.email" #email="ngModel" placeholder="Enter Email" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required email />
            <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>-->
        </div>
        <div class="row">
            <mat-form-field>
                <div><mat-label>First Name </mat-label><span calss="required">*</span></div>
                <input matInput class="form-control ember-text-field ember-view" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel">  
                <!--<mat-hint align="end">Not more then 60 characters long.</mat-hint>
                <mat-error *ngIf="hasError('first_name', 'required')">Name is required</mat-error>
                <mat-error *ngIf="hasError('first_name', 'maxlength')">You have more than 60 characters</mat-error>-->
            </mat-form-field>
            <!--<div class="form-group col-md-5">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" [(ngModel)]="formData.first_name" #first_name="ngModel" placeholder="Enter First Name" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required />
                <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                    <div *ngIf="first_name.errors.required">First Name is required</div>
                </div>
            </div>-->

            &nbsp;
            <div class="form-group col-md-5">
                <mat-form-field>
                    <div><mat-label>last Name </mat-label><span calss="required">*</span></div>
                    <input matInput class="form-control ember-text-field ember-view" name="last_name" [(ngModel)]="formData.last_name" #first_name="ngModel">  
                </mat-form-field>
                
                <!--<input type="text" class="form-control" name="last_name" [(ngModel)]="formData.last_name" #last_name="ngModel" placeholder="Enter Last Name" [ngClass]="{ 'is-invalid': form.submitted && form.invalid }" required />
                <div *ngIf="form.submitted && form.invalid" class="invalid-feedback">
                    <div *ngIf="last_name.errors.required">Last Name is required</div>
                </div>-->
            </div>
        </div>
        <div class="row">
                <mat-form-field>
                    <div><mat-label>Contact Number</mat-label><span class="required">*</span></div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+91</div>
                        </div>
                        <input matInput class="form-control ember-text-field ember-view" name="contact_number" [(ngModel)]="formData.contact_number">
                    </div>
                </mat-form-field>
            <!--label for="last_name">Contact Number</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">+91</div>
                </div>
                <input type="text" class="form-control" name="contact_number" [(ngModel)]="formData.contact_number" #contact_number="ngModel" placeholder="Enter Contact Number">
            </div>-->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="updateUserRecord(form)" [mat-dialog-close]><i class="fa fa-user-plus" aria-hidden="true"></i> Update User</button>
        </div>
    </form>
</div>