@import '../bookings.component.css';

.scheduler-spaces-header-padding-top {
    padding-top: 1rem;
}
.day-mode-table, .month-mode-table {
    table-layout: fixed;
}
.day-mode-table td:not(.scheduler-time-column) {
    height: 25px;
}
.day-mode-table tr td:not(.scheduler-time-column) {
    border-color: #e9ecef;
}
.day-mode-table tr td.disabled:not(.scheduler-time-column) {
    border-color:rgba(0,0,0,0.1) 
}
.day-mode-table, .day-mode-table td, .day-mode-table th, .grid-mode-table, .grid-mode-table td, .grid-mode-table th, .month-mode-table, .month-mode-table td, .month-mode-table th, .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.day-mode-table,.month-mode-table, .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.day-mode-table .scheduler-time-column{background-color: #f9fbff;}
.scheduler-time-column {
    width: 81px;padding: 4px;
}
:host ::ng-deep .booking-slot{padding: 4px;font-size: 14px;}
.table-layout-fixed {
    table-layout: fixed;
}
.add-icon{
    position: fixed;
    right: 45px;
    bottom: 20px;
}
.highlight { background-color: red; }
.disabled{pointer-events:none;background-color:rgba(0,0,0,0.4);}
#tooltip{
    position: absolute;
    z-index: 2;
    box-shadow: 0 8px 6px -6px black;
    background-color: #FFFFFF; 
    height: 100px;
    width: 200px;
    display: none;
}

.scheduler-header-nav-container-wrapper{
    background-color: #fff;
}
.top-margin{
    margin-top: 5px;
    margin-bottom: 5px;
}

:host ::ng-deep .booking-slot {color: #FFFFFF;}