<h5 mat-dialog-title>Edit Space <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">highlight_off</i></h5>
<form name="form">
    <input type="hidden" name="id" [(ngModel)]="model.id" #id="ngModel">
    <div class="required">
        <mat-form-field>
            <mat-label>Space Name</mat-label>
            <input matInput placeholder="e.g. Meeting Room" id="space-create-name" type="text" name="space_name" [(ngModel)]="model.space_name" >
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="editSpace()">Edit space</button>
    <button mat-raised-button class="ml-2" (click)="onNoClick()">Cancel</button>
</form>
