<label>SPACE REGISTERED</label>
<table class="table table-borderless">
  <thead class="thead-light">
    <tr>
      <th>Booking Name</th>
      <th>Space Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="spaces.length==0" [class.text-danger]="!isValid && spaces.length==0">
        <td body="font-italic text-center" colspan="5">
          No bookings done yet.
        </td>
      </tr>
    <tr *ngFor="let space of spaces;let i=index;">
      <td>{{space.booking_title}}</td>
      <td>{{space.last_name}}</td>
    </tr>
  </tbody>
</table><button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
