<h5 mat-dialog-title>Add Space <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">highlight_off</i></h5>
<form (ngSubmit)="onSubmit()">
    <div class="required">
        <mat-form-field>
            <mat-label>Space Name</mat-label>
            <input matInput placeholder="e.g. Meeting Room" id="space-create-name" type="text" name="space_name" [(ngModel)]="model.space_name" >
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit">Add space</button>
    <button mat-raised-button class="ml-2" (click)="onNoClick()">Cancel</button>
</form>

