<div class="form-header">
    <h4 mat-dialog-title class="mb-0">Add Space</h4>
    <i class="material-icons close" style="cursor:pointer;" (click)="onNoClick()">close</i>
</div>
<form (ngSubmit)="onSubmit()">
        <mat-form-field>
            <mat-label>Space Name</mat-label>
            <input matInput placeholder="e.g. Meeting Room" id="space-create-name" type="text" name="space_name" [(ngModel)]="model.space_name" required>
        </mat-form-field>
    <div>
        <button mat-raised-button color="primary" type="submit">Add space</button>
        <button mat-raised-button type="button" class="ml-2" (click)="onNoClick()">Cancel</button>
    </div>
</form>

