@import '../bookings.component.css';

.scheduler-spaces-header-padding-top {
    padding-top: 1rem;
}
.day-mode-table, .month-mode-table {
    background-color: #f9fbff;
    table-layout: fixed;
}
.day-mode-table td:not(.scheduler-time-column) {
    height: 25px;
    cursor: pointer;
}
.day-mode-table tr td:not(.scheduler-time-column) {
    border-color: #e9ecef;
}
.day-mode-table, .day-mode-table td, .day-mode-table th, .grid-mode-table, .grid-mode-table td, .grid-mode-table th, .month-mode-table, .month-mode-table td, .month-mode-table th, .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.day-mode-table,.month-mode-table, .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.scheduler-time-column {
    width: 81px;
}
.table-layout-fixed {
    table-layout: fixed;
}
.add-icon{
    font-size: 65px;
    position: fixed;
    right: 45px;
    bottom: 10px;
    cursor: pointer;
}
.highlight { background-color: red; }
.disabled{pointer-events:none;background-color:rgba(0,0,0,0.4)}
#tooltip{
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(39, 39, 39, 0.15);
    transform: translate(-85%, -100%);
    color: #212529;
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #FFFFFF; 
    height: 100px;
    width: 190px;
    display: none;
}
/* New Styles */
:host ::ng-deep td{transition: 0.4s;}
:host ::ng-deep .booking-wrapper ul{padding-left: 17px;font-size: 14px;}
#monthviewtable th{border: 0;}
:host ::ng-deep #monthviewtable td:not(:empty):hover{background-color: #64bded;color: #FFFFFF;}