<div id="scheduler-header-nav">
    <div class="scheduler-header-nav-container-wrapper">
        <div class="container-fluid">
            <div class="row bg-g100">
                <div class="col-12">
                    <div class="d-flex py-3">
                        <div class="tabs-btn mr-3">
                            <mat-card class="btn-group d-none d-xl-inline-flex p-0" role="group" style="z-index: 2;">
                                <a href="/booking/dayview" class="btn btn-g300 px-3 scheduler-header-nav-button-bold ">DAY</a>
                                <a href="/booking/monthview" class="btn btn-g300 px-3 scheduler-header-nav-button-bold active">MONTH</a>
                            </mat-card>
                        </div>
                        <div>
                            <div class="btn-group d-inline-flex">
                                <div class="viewdate-picker dropdown-date scheduler-header-nav-button-bold text-truncate text-uppercase">
                                    <span class="d-flex ember-view">
                                        <span class="flex-grow-1 text-truncate">
                                        </span>
                                        <span class="d-flex align-items-center">
                                            <input class="form-control select-date"
                                         name="selectdate" [(ngModel)]="selectdate.date" ngbDatepicker #d="ngbDatepicker" style="display:inline;" (ngModelChange)="dateValueChange($event)" (ngModelChange)="selectdate.date = $event">
                                         <i style="display: inline;cursor: pointer;" class="material-icons" (click)="d.toggle()" >expand_more</i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1"></div>
                        <div class="d-inline-block ember-view" *ngIf = "isAuthorized && isAdministrator">
                            <button mat-raised-button routerLink="/resetpassword" color="primary" routerLink="/space">SPACES</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="scheduler-header-spaces-wrapper">
    <div class="ember-view col-12" >
        <mat-card>
            <div class="bg-white">
                <h3 class="" id="monthAndYear"></h3>
                <div id="tooltip" class="content"></div>
                <table class="table table-bordered table-responsive-sm" id="monthviewtable">
                    <thead>
                    <tr>
                        <th>Sun</th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                        <th>Fri</th>
                        <th>Sat</th>
                    </tr>
                    </thead>
                    <tbody id="calendar-body">
                    </tbody>
                </table>
            </div>
        </mat-card>
    </div>
</div>
