.scheduler-header-spaces-wrapper{
    position: sticky!important;
    z-index: 995;
    /* padding-top:56px; */
}
#scheduler-header-nav {
    z-index: 998;
    left: 0;
    position: sticky !important;
    width: 100%!important;
    top: 56px;    
}
.scheduler-header-spaces-table{
    margin: 0;
    position: sticky;
    top: 126px;
    left: auto;
    width: 100%;
    z-index: 1;
    background-color: #fff;
}


.select-date{width: 234px;padding-right: 25px;}

/*Nav Tabs Button */
.tabs-btn .btn{border:0;color: #212529;}
.viewdate-picker .material-icons{position: absolute;right: 5px;}
.tabs-btn .btn.active{background-color: #64bded;color: #fff;border-color: #64bded;}
.tabs-btn .btn:focus{box-shadow: none;}