.scheduler-header-spaces-wrapper{
    position: sticky!important;
}
.day-mode-table, .month-mode-table {
    background-color: #f9fbff;
    table-layout: fixed;
}
.day-mode-table td:not(.scheduler-time-column) {
    height: 25px;
    cursor: pointer;
}
.day-mode-table tr td:not(.scheduler-time-column) {
    border-color: #e9ecef;
}
.day-mode-table, .day-mode-table td, .day-mode-table th, .grid-mode-table, .grid-mode-table td, .grid-mode-table th, .month-mode-table, .month-mode-table td, .month-mode-table th, .table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}
.day-mode-table,.month-mode-table, .table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
.scheduler-time-column {
    width: 80px;
}
.table-layout-fixed {
    table-layout: fixed;
}
.add-icon{
    font-size: 65px;
    position: fixed;
    right: 45px;
    bottom: 10px;
    cursor: pointer;
}